/* QUERY CITY */
.queryCityBox {
  width: 80%;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.queryFormHeadings {
  font-size: 24px;
  font-weight: bold;
}

.queryForm > * {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.dateSelectBox, .timeSelectBox {
 overflow: hidden;
}
/* END QUERY CITY */