/* VIEW PUBLIC TOPIC */
.publicTopicBox {
  width: 90%;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

.publicTopicHeading {
  font-size: 32px;
  font-weight: bold;
}
/* END VIEW PUBLIC TOPIC */
