/* VIEW CITIES */
.citiesBox {
}

.cityListItem h1 {
  font-weight: normal;
  border: none;
}

.cityListItemPlus {
  visibility: hidden;
  text-align: left;
}

.cityListItemLast {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.cityListItemLast .cityListItemPlus {
  visibility: visible;
}

/* F12 */
#testDiv {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
/* END F12 */
/* END VIEW CITIES */
